.slider-container
  +r(767)
    width: 100%
    margin: 0 auto
    padding: 0 15px
    max-width: 720px

.slider-wrap
  position: relative

.slider-controls
  position: relative
  display: flex
  align-items: center
  +r(576)
    position: static
  &__btns
    display: flex
    align-items: center
    margin-left: auto
    +r(576)
      width: 100%
      margin-left: 0
      justify-content: space-between
    .swiper-button-next,
    .swiper-button-prev
      position: static
      display: flex
      align-items: center
      justify-content: center
      width: 70px
      height: 70px
      margin: 0
      border-radius: 50%
      border: 2px solid $accent
      background: none
      opacity: 0.44
      +trans
      +r(576)
        position: absolute
        top: 50%
        transform: translateY(-50%)
      +r(767)
        width: 40px
        height: 40px
      &:hover
        opacity: 1
        background-color: $accent
        svg
          fill: #fff
      &:focus
        outline: none
      &.swiper-button-disabled
        border-color: rgba(#000, 0.5)
        cursor: not-allowed
        pointer-events: auto
        svg
          fill: rgba(#000, 0.5)
        &:hover
          background: none
          opacity: 0.44
          svg
            fill: rgba(#000, 0.5)
      svg
        width: 15px
        height: 8px
        fill: $accent
        +trans
    .swiper-button-prev
      margin-right: 35px
      left: 10px
    .swiper-button-next
      right: 10px
  .swiper-pagination
    +r(576)
      display: none

.swiper-pagination-progressbar
  position: static
  width: 100%
  height: 2px
  margin-right: 50px
  background-color: #d2d3dc
  .swiper-pagination-progressbar-fill
    background-color: $accent