@import 'logo'
@import 'location'
@import 'phone'
@import 'section'
@import 'page'
@import 'range'
@import 'switch'
@import 'slider'
@import 'socials'
@import 'breadcrumb'
@import 'archive'
@import 'video'
@import 'similar-services'
@import 'ribbon'
@import 'sidebar'

.bg-gray
  background-color: $bg-color

.link-arrow
  font-family: $futura-d-font
  color: #28292e
  text-transform: uppercase
  white-space: nowrap
  +r(767)
    font-size: 14px
  &:hover, &:focus
    color: $accent
  &__icon
    width: 23px
    height: 11px
    fill: $accent
    margin-left: 15px
    vertical-align: baseline

.simplebar-track
  &.simplebar-vertical
    width: 3px
    background-color: #e5e6eb
  .simplebar-scrollbar.simplebar-visible::before
    background-color: $accent
    opacity: 1
    border-radius: 0

.simplebar-scrollbar
  width: 3px
  right: 0

#response.active
  position: relative
  .portfolio-list__item
    filter: blur(2px)
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 50px
    height: 50px
    margin-top: -25px
    margin-left: -25px
    border: 2px solid $accent
    border-top-color: #fff
    border-radius: 50%
    z-index: 11
    animation: spin 1s linear infinite
    transition: all .25s ease