// Colors
$main-color: #3e3e3e
$accent: #cf1348
$light-accent: #f10b48

$dark: #1d1d1d
$blue: #00239b
$light-blue: #0036ff
$light-gray: #d2d3dc
$bd-color: #dcdde4
$bg-color: #f5f6f9
// Fonts
$main-font: 'FuturaBookC', Arial, sans-serif
$futura-d-font: 'FuturaDemiC', Arial, sans-serif
$sfu-font: 'SF UI Display', Arial, sans-serif

// Bootstrap
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px)

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)