.single-portfolio-content
  padding-top: 60px
  +r(767)
    padding-top: 40px
  .container
    display: flex
    align-items: flex-start
    +r(992)
      display: block
  &__left
    width: 46.48%
    margin-right: 150px
    +r(1395)
      margin-right: 50px
    +r(1200)
      margin-right: 30px
    +r(992)
      width: auto
      margin-right: 0
      margin-bottom: 30px
  &__info
    display: flex
    align-items: center
    margin-bottom: 30px
    font-family: $futura-d-font
    font-size: 14px
    color: $gray
    +r(767)
      margin-bottom: 20px
  &__date
    margin-right: 35px
    padding: 7px 14px
    border: 2px solid $bd-color
    border-radius: 7px
  &__place
    svg
      width: 18px
      height: 18px
      fill: $light-blue
      margin-right: 12px
  &__media
    position: relative
    &-bottom
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 20px
      +r(480)
        display: block
        margin: 0
    img
      width: 100%
      border-radius: 12px
      overflow: hidden
    .slider-controls
      &__btns
        .swiper-button-prev,
        .swiper-button-next
          +r(576)
            position: static
            transform: none
          +r(480)
            position: absolute
            top: 50%
            transform: translateY(-50%)
        .swiper-button-next
          +r(480)
            right: 10px
        .swiper-button-prev
          +r(480)
            left: 10px
  &__right
    flex-grow: 1
    background-color: $bg-color
    border-radius: 12px
  &__summary
    position: relative
    padding: 50px 65px 25px
    +r(1200)
      padding: 50px 35px 25px
    +r(767)
      padding: 30px 20px 15px
    ul
      @extend .portfolio-slider-card-full__list
      margin: 0
      +r(576)
        margin: 0
      li
        font-size: 18px
        &::before
          top: 8px
  &__label
    margin-bottom: 60px
    font-family: $futura-d-font
    font-size: 52px
    color: $dark
    line-height: 1
    +r(1200)
      margin-bottom: 80px
      font-size: 42px
    +r(767)
      margin-bottom: 70px
      font-size: 24px
  &__ribbon-number
    position: absolute
    top: 0
    right: 25px
    z-index: 1
    +r(767)
      right: 10px
  &__text
    padding: 20px 65px 30px
    border-top: 1px solid #e7e7ee
    font-size: 16px
    color: #5e5e5e
    +r(1200)
      padding: 20px 35px 30px
    +r(767)
      padding: 20px 20px 30px
    p
      &:last-child
        margin-bottom: 0
  &__bottom
    padding: 35px 20px 40px
    border-top: 1px solid #e7e7ee
    text-align: center
    +r(1200)
      padding: 35px 20px 40px
    +r(767)
      padding: 20px
    .btn
      width: 100%
      max-width: 315px

.single-portfolio-slider
  position: relative
  &__item
    height: auto
    .video
      height: 100%

.single-portfolio-thumb-slider
  width: 380px
  margin-left: 0
  margin-right: 20px
  +r(1395)
    width: 320px
  +r(992)
    width: 450px
  +r(480)
    display: none
  &__item
    height: auto
    opacity: 0.5
    cursor: pointer
    +trans
    &.swiper-slide-thumb-active
      opacity: 1
    .video
      height: 100%
      &__button
        width: 55px
        height: 55px
        &::before
          border-width: 6px 0 6px 10px