.partners
  .section-header
    margin-bottom: 80px
    +r(767)
      margin-bottom: 20px

.partners-slider
  &__item
    text-align: center
    img
      filter: grayscale(100)
      +trans
      &:hover
        filter: grayscale(0)